<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
</head>
<body>
    <h1><%= pageHeader %></h1>
    <a href="./home.ejs">Home</a>
    <a href="./newStudents.ejs">add new students</a>
    <ul>
        <% data.map( (LabData, index) => { %>
                <li>
                    <%= LabData.name %>'s email address is:
                    <%= LabData.email %>
                </li
        <% })%>
   </ul>

    
</body>
</html>